# --- For-Bot-Working --------- #
pyroblack
TgCrypto-pyroblack
aiofiles
motor
# --- For-Database ------------ #
pymongo
dnspython
# --- For-Web-Response ------- #
aiohttp
GitPython==3.1.30
schedule 
pytz
shortzy
requests
uvloop
